.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button {
  background-color: #ff0000;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #990000;
}

button:last-child {
  background-color: #000000;
}
button:last-child:hover {
  background-color: #333333;
}
