/* Estilos para el componente Landing */
.Landing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000; /* Fondo negro */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Centra el contenido horizontalmente */
}

/* Estilos para la imagen */
.Landing img {
  width: 20cm; /* Ancho de 30 centímetros */
  height: auto;
  display: block; /* Centra la imagen horizontalmente */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Estilos para el botón */
/* Estilos para el botón */
.Landing button {
  background: #ff0000; /* Fondo rojo */
  color: white;
  border: none;
  padding: 15px 30px; /* Aumentamos el tamaño del botón */
  border-radius: 5px;
  cursor: pointer;
  display: block; /* Alineamos el botón al centro */
  margin: 20px auto 50px; /* Alineamos el botón al centro y agregamos espacio arriba */
}

.Landing button a {
  color: white;
  text-decoration: none;
}

.Landing button:hover {
  background: #0d0303; /* Fondo rojo oscuro en hover */
}
